DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mini_inventory?schema=public"
TEST_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mini_inventory_test?schema=public"
NUXT_SESSION_PASSWORD="replace-with-a-random-32-character-minimum-secret"
ADMIN_EMAIL=""
ADMIN_NAME=""
ADMIN_PASSWORD=""
